.background-table {
  width: 100%;
  height: 545px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

table,
th,
td {
  border: 5px solid #0A1831;
  color: white;
  text-align: center;
  font-size: 20px;
  font-weight: bold;
}

.border {
  border: 5.1px solid #f30106 !important;
}

.featured-card-img img {
  width: 100%;
  object-fit: cover;
  height: 100%;
  min-height: 300px;
}
